* {
    background-image: none;
    box-shadow: none;
    font-size: ${WLOGOUT_FONT_SIZE}px;
}

window {
    background-image: url("${CACHE_WALLPAPERS_DIR}/blur.jpg");
}

button, button:focus {
    color: ${WLOGOUT_TEXT_COLOR};
    background-repeat: no-repeat;
    background-position: center;
    background-color: ${WLOGOUT_BUTTON_BACKGROUND_COLOR};
    background-size: 20%;
    border-radius: 0px;
    border-width: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    margin-top: ${WLOGOUT_VERTICAL_MARGIN}px;
    margin-bottom: ${WLOGOUT_VERTICAL_MARGIN}px;
}

button:hover {
    color: ${WLOGOUT_TEXT_HOVER_COLOR};
    background-color: ${WLOGOUT_BUTTON_HOVER_BACKGROUND_COLOR};
    background-size: 30%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
    margin: ${WLOGOUT_BUTTON_HOVER_MARGIN}px 0px ${WLOGOUT_BUTTON_HOVER_MARGIN}px 0px;
    border-radius: 50px;
}

#lock {
    background-image: url("${POWER_MENU_CACHE_DIR}/lock-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_COLOR}.svg");
    margin-left: ${WLOGOUT_HORIZONTAL_MARGIN}px;
    border-radius: 50px 0px 0px 50px;
}
button:hover#lock {
    background-image: url("${POWER_MENU_CACHE_DIR}/lock-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_HOVER_COLOR}.svg");
    border-radius: 50px;
}

#logout {
    background-image: url("${POWER_MENU_CACHE_DIR}/logout-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_COLOR}.svg");
}
button:hover#logout {
    background-image: url("${POWER_MENU_CACHE_DIR}/logout-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_HOVER_COLOR}.svg");
}

#suspend {
    background-image: url("${POWER_MENU_CACHE_DIR}/suspend-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_COLOR}.svg");
}
button:hover#suspend {
    background-image: url("${POWER_MENU_CACHE_DIR}/suspend-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_HOVER_COLOR}.svg");
}

#shutdown {
    background-image: url("${POWER_MENU_CACHE_DIR}/shutdown-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_COLOR}.svg");
}
button:hover#shutdown {
    background-image: url("${POWER_MENU_CACHE_DIR}/shutdown-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_HOVER_COLOR}.svg");
}

#hibernate {
    background-image: url("${POWER_MENU_CACHE_DIR}/hibernate-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_COLOR}.svg");
}
button:hover#hibernate {
    background-image: url("${POWER_MENU_CACHE_DIR}/hibernate-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_HOVER_COLOR}.svg");
}

#reboot {
    background-image: url("${POWER_MENU_CACHE_DIR}/reboot-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_COLOR}.svg");
    margin-right: ${WLOGOUT_HORIZONTAL_MARGIN}px;
    border-radius: 0px 50px 50px 0px;
}
button:hover#reboot {
    background-image: url("${POWER_MENU_CACHE_DIR}/reboot-${THEME_NAME}-${THEME_FLAVOR}-${WLOGOUT_BUTTON_HOVER_COLOR}.svg");
    border-radius: 50px;
}
